.button {
    -webkit-appearance: none;
    background: none;
    color: $text-color;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    padding: $space-default;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    @include transition(background);

    &:before,
    &:after {
        content: '';
        display: block;
        height: 0;
        width: 0;

        margin-bottom: -.35em;
    }
}
.button--ghost {
    border: 2px solid $link-color;

    &:hover,
    &:focus {
        background: $link-color;
        color: $color-white;
        text-decoration: none;
    }
}