.footer {
    background: $color-neutral-10;
    padding: $space-xl 0;
    color: $color-neutral-80;
}
.underfooter {
    background: $color-neutral-5;
    padding: $space-default 0;
    color: $color-neutral-80;
    font-size: 0.8rem;
}
.footer-widget {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}
.footer-widget--underfooter {
    justify-content: end;
}
.footer-widget-list {
    @include homepage-grid
}
.footer-widget__title {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
    text-transform: uppercase;
    color: #ccc;
    margin: 0 0 20px;
}
.footer-widget__link {
    display: inline-block;
    height: $space-l;
    width: $space-l;
    text-decoration: none;
    margin-right: $space-default;

    &:hover {
        text-decoration: none;
    }

    &:last-child {
        margin: 0;
    }
}
.footer-widget__icon {
    @include icon($fill: $color-white);

    .footer-widget__link:hover &,
    .footer-widget__link:focus & {
        @include icon($fill: $link-color);
    }
}