:root {
  --canvas: #fffaf5;
  --tangerine: #ffba68;
  --slate: #434345;
  --dark-blue: #28393e;
  --light-blue: #425f71;
  --off-white: #f0f0f0;
  --white: #ffffff;
  --font-size: 18px;
  --font-weight: normal;
  --header-font: "Open Sans", sans-serif;
  --body-font: "Open Sans", sans-serif;
  --transition-default: .25s ease-in-out;
  --transition-slow: .25s ease-in-out;
  --space-base: 4px;
  --space-1x: calc(var(--space-base) * 1);
  --space-2x: calc(var(--space-base) * 2);
  --space-3x: calc(var(--space-base) * 3);
  --space-4x: calc(var(--space-base) * 4);
  --space-5x: calc(var(--space-base) * 5);
  --space-6x: calc(var(--space-base) * 6);
  --space-7x: calc(var(--space-base) * 7);
  --space-8x: calc(var(--space-base) * 8);
  --background: var(--canvas);
  --accent: var(--tangerine);
  --text-color: var(--slate);
  --hairline-color: var(--slate);
  --intro-block-background: var(--slate);
  --intro-block-text-color: var(--white);
  --footer-background: var(--white);
  --footer-text-color: var(--slate);
  --social-link-background: transparent;
  --social-link-background--hover: var(--slate);
  --social-link-text-color: var(--slate);
  --social-link-text-color--hover: var(--white);
  --mobile-menu-background: transparent;
  --mobile-menu-background--hover: var(--slate);
  --mobile-menu-text-color: var(--slate);
  --mobile-menu-text-color--hover: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-blue);
    --accent: var(--light-blue);
    --text-color: var(--off-white);
    --hairline-color: var(--off-white);
    --intro-block-background: var(--off-white);
    --intro-block-text-color: var(--slate);
    --footer-background: var(--slate);
    --footer-text-color: var(--white);
    --social-link-background: transparent;
    --social-link-background--hover: var(--white);
    --social-link-text-color: var(--white);
    --social-link-text-color--hover: var(--slate);
    --mobile-menu-background: transparent;
    --mobile-menu-background--hover: var(--off-white);
    --mobile-menu-text-color: var(--off-white);
    --mobile-menu-text-color--hover: var(--slate);
  }
}
[data-theme=light] {
  --background: var(--canvas);
  --accent: var(--tangerine);
  --text-color: var(--slate);
  --hairline-color: var(--slate);
  --intro-block-background: var(--slate);
  --intro-block-text-color: var(--white);
  --footer-background: var(--white);
  --footer-text-color: var(--slate);
  --social-link-background: transparent;
  --social-link-background--hover: var(--slate);
  --social-link-text-color: var(--slate);
  --social-link-text-color--hover: var(--white);
  --mobile-menu-background: transparent;
  --mobile-menu-background--hover: var(--slate);
  --mobile-menu-text-color: var(--slate);
  --mobile-menu-text-color--hover: var(--white);
}

[data-theme=dark] {
  --background: var(--dark-blue);
  --accent: var(--light-blue);
  --text-color: var(--off-white);
  --hairline-color: var(--off-white);
  --intro-block-background: var(--off-white);
  --intro-block-text-color: var(--slate);
  --footer-background: var(--slate);
  --footer-text-color: var(--white);
  --social-link-background: transparent;
  --social-link-background--hover: var(--white);
  --social-link-text-color: var(--white);
  --social-link-text-color--hover: var(--slate);
  --mobile-menu-background: transparent;
  --mobile-menu-background--hover: var(--off-white);
  --mobile-menu-text-color: var(--off-white);
  --mobile-menu-text-color--hover: var(--slate);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 80px);
  flex-direction: column;
  margin: 0 auto;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.25rem;
}

p {
  margin-top: 0.75rem;
}
p a {
  text-decoration: underline;
}

code:not([class]) {
  background-color: var(--secondary-background);
  border-radius: 2px;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 4px;
  vertical-align: middle;
}

picture img {
  height: auto;
  max-width: 100%;
}

hr {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  border: 0;
  height: 1px;
  margin: 48px 0;
}

.footer {
  background: var(--footer-background);
  color: var(--footer-text-color);
  display: flex;
  justify-content: center;
  padding: var(--space-4x);
}

.footer__inner {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  gap: var(--space-4x);
  justify-content: space-between;
}
@media (min-width: 600px) {
  .footer__inner {
    flex-direction: row;
    max-width: 1400px;
    width: 100%;
  }
}

.footer__copyright {
  margin: 0;
}

.social-links {
  display: flex;
  gap: var(--space-2x);
}

.social-link {
  align-items: center;
  background: var(--social-link-background);
  display: flex;
  padding: var(--space-3x);
  transition: background var(--transition-default);
}
.social-link:hover, .social-link:focus-visible {
  background: var(--social-link-background--hover);
}

.social-link__icon {
  fill: var(--social-link-text-color);
  height: 24px;
  transition: fill var(--transition-default);
  width: 24px;
}
.social-link:hover .social-link__icon, .social-link:focus-visible .social-link__icon {
  fill: var(--social-link-text-color--hover);
}

header {
  font-size: 1.25rem;
  padding: 8px 16px;
  width: 100%;
}

.header__inner {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
}

.home-link {
  display: block;
  padding: 4px 8px;
  transition: all var(--transition-default);
}
.home-link:hover, .home-link:focus-visible {
  background: var(--text-color);
  color: var(--background);
}

.home-link--disabled {
  cursor: default;
  pointer-events: none;
}

.main-nav {
  display: none;
  margin-left: auto;
}
@media (min-width: 600px) {
  .main-nav {
    display: block;
  }
}
.main-nav ul {
  display: flex;
  gap: var(--space-2x);
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: block;
  margin-block-end: -4px;
  padding: 4px;
}
.nav__link:after {
  background: var(--text-color);
  content: "";
  height: 4px;
  display: block;
  transition: all var(--transition-slow);
  width: 0%;
}
.nav__link:hover:after, .nav__link:focus-visible:after {
  width: 100%;
}

.nav__link--active:after {
  background: var(--text-color);
  content: "";
  height: 4px;
  display: block;
  transition: all var(--transition-slow);
  width: 100%;
}

.mobile-menu-trigger {
  align-items: center;
  background: var(--mobile-menu-background);
  display: flex;
  border: none;
  margin-inline-start: var(--space-2x);
  padding: var(--space-3x);
  transition: background var(--transition-default);
}
.mobile-menu-trigger:hover, .mobile-menu-trigger:focus-visible {
  background: var(--mobile-menu-background--hover);
}
@media (min-width: 600px) {
  .mobile-menu-trigger {
    display: none;
  }
}

.mobile-menu-trigger__icon {
  fill: var(--mobile-menu-text-color);
  height: 24px;
  width: 24px;
}
.mobile-menu-trigger:hover .mobile-menu-trigger__icon, .mobile-menu-trigger:focus-visible .mobile-menu-trigger__icon {
  fill: var(--mobile-menu-text-color--hover);
}

.mobile-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}
@media (min-width: 600px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu--open {
  grid-template-rows: 1fr;
}

.mobile-menu__inner {
  overflow: hidden;
}

.mobile-nav ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--space-1x);
  list-style: none;
  margin: 0;
  padding: var(--space-3x) var(--space-2x);
}

.mobile-nav__link {
  display: block;
  padding: 4px;
}
.mobile-nav__link:after {
  background: var(--text-color);
  content: "";
  height: 4px;
  display: block;
  transition: all var(--transition-slow);
  width: 0%;
}
.mobile-nav__link:hover:after, .mobile-nav__link:focus-visible:after {
  width: 100%;
}

.mobile-nav__link--active:after {
  background: var(--text-color);
  content: "";
  height: 4px;
  display: block;
  transition: all var(--transition-slow);
  width: 100%;
}

.theme-menu-trigger {
  align-items: center;
  background: var(--mobile-menu-background);
  border: none;
  display: flex;
  margin-inline-start: auto;
  padding: var(--space-3x);
  transition: background var(--transition-default);
}
.theme-menu-trigger:hover, .theme-menu-trigger:focus-visible {
  background: var(--mobile-menu-background--hover);
}
@media (min-width: 600px) {
  .theme-menu-trigger {
    margin-inline-start: var(--space-1x);
    padding: var(--space-2x);
  }
}

.theme-menu-trigger__icon {
  fill: var(--mobile-menu-text-color);
  height: 24px;
  width: 24px;
}
.theme-menu-trigger:hover .theme-menu-trigger__icon, .theme-menu-trigger:focus-visible .theme-menu-trigger__icon {
  fill: var(--mobile-menu-text-color--hover);
}
@media (min-width: 600px) {
  .theme-menu-trigger__icon {
    height: 16px;
    width: 16px;
  }
}

.theme-menu-trigger__icon--sun {
  display: block;
}
@media (prefers-color-scheme: dark) {
  .theme-menu-trigger__icon--sun {
    display: none;
  }
  .light-theme .theme-menu-trigger__icon--sun {
    display: block;
  }
}
.dark-theme .theme-menu-trigger__icon--sun {
  display: none;
}

.theme-menu-trigger__icon--moon {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .theme-menu-trigger__icon--moon {
    display: block;
  }
  .light-theme .theme-menu-trigger__icon--moon {
    display: none;
  }
}
.light-theme .theme-menu-trigger__icon--moon {
  display: none;
}

.theme-menu {
  display: grid;
  grid-template-rows: 0fr;
  margin: 0 auto;
  max-width: 1400px;
  transition: all 0.5s ease-in-out;
}

.theme-menu--open {
  grid-template-rows: 1fr;
  padding: var(--space-1x) 0;
}
@media (min-width: 600px) {
  .theme-menu--open {
    padding: var(--space-4x) 0;
  }
}

.theme-menu__inner {
  align-items: center;
  display: flex;
  gap: var(--space-2x);
  justify-content: flex-end;
  overflow: hidden;
}

.theme-menu__button {
  align-items: center;
  background: var(--mobile-menu-background);
  border: none;
  color: var(--mobile-menu-text-color);
  display: flex;
  font-size: 1rem;
  padding: var(--space-2x);
  transition: background var(--transition-default);
}
.theme-menu__button:hover, .theme-menu__button:focus-visible {
  background: var(--mobile-menu-background--hover);
  color: var(--mobile-menu-text-color--hover);
}

.hero {
  align-items: center;
  background: var(--accent);
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero__inner {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  padding: var(--space-8x);
  width: 100%;
}

.hero__title {
  color: var(--text-color);
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.blog-roll {
  display: flex;
  gap: var(--space-4x);
  justify-content: center;
  padding: var(--space-8x);
  max-width: 1400px;
  width: 100%;
}

.blog-roll__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-8x);
  max-width: 700px;
}

.blog-roll__title {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.blog-section {
  display: flex;
  flex-direction: column;
}

.blog-year {
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  margin: 0;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.post-preview__link {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--space-3x);
  justify-content: center;
  text-decoration: none;
  padding-block: var(--space-4x);
}

.post-preview__title {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}
.post-preview__link:hover .post-preview__title, .post-preview__link:focus-visible .post-preview__title {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.post-preview__subtitle {
  margin: 0;
}

.post-preview__meta {
  font-size: 0.875rem;
  margin: 0;
}

.blog-post {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-post__heading {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
  padding-block: var(--space-8x);
  max-width: 80ch;
  width: 100%;
}
@media (max-width: 1024px) {
  .blog-post__heading {
    padding-inline: var(--space-4x);
  }
}

.blog-post__title {
  font-size: clamp(2rem, 4vw, 3rem);
  margin: 0;
}

.blog-post__date {
  font-size: 1.25rem;
  margin: 0;
}

.blog-post__read-time {
  font-size: 0.875rem;
  margin: 0;
}

.blog-post__header-image {
  width: 100%;
}
.blog-post__header-image img {
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.blog-post__post-content {
  display: flex;
  flex-direction: column;
  max-width: 80ch;
  padding-block: var(--space-8x);
}
@media (max-width: 1024px) {
  .blog-post__post-content {
    padding-inline: var(--space-4x);
  }
}
.blog-post__post-content picture {
  align-self: center;
  margin-top: 16px;
}

.intro {
  container-type: inline-size;
  container-name: intro;
  background: var(--accent);
  display: flex;
  justify-content: center;
  width: 100%;
}

.intro__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
  justify-content: center;
  max-width: 1400px;
  padding: var(--space-8x);
  width: 100%;
}
@container intro (min-width: 600px) {
  .intro__inner {
    flex-direction: row;
    gap: var(--space-8x);
    justify-content: center;
  }
}
.intro__inner picture {
  aspect-ratio: 4/5;
  display: block;
  max-height: 500px;
}
@container intro (min-width: 768px) {
  .intro__inner picture {
    flex-shrink: 0;
  }
}

.intro__details {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: clamp(var(--space-4x), 3cqi, var(--space-8x));
  justify-content: center;
  padding: var(--space-2x);
}
@container intro (min-width: 600px) {
  .intro__details {
    padding: var(--space-8x);
  }
}

.intro__welcome {
  font-size: clamp(2rem, 4cqi, 3rem);
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.intro__name {
  font-size: clamp(1.5rem, 3.5cqi, 2.5rem);
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  white-space: nowrap;
}

.intro__blocks {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
  margin: 0;
  padding: 0;
}
@container intro (min-width: 1150px) {
  .intro__blocks {
    flex-direction: row;
    justify-content: center;
  }
}

.intro__block {
  background: var(--intro-block-background);
  color: var(--intro-block-text-color);
  display: block;
  font-size: clamp(.875rem, 2cqi, 1.125rem);
  font-weight: bold;
  min-width: max-content;
  padding: var(--space-2x);
  text-align: center;
  width: 100%;
}

.about__content {
  max-width: 80ch;
  padding-block: 64px;
  width: 100%;
}
@media (max-width: 1024px) {
  .about__content {
    padding-inline: var(--space-4x);
  }
}
.about__content p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.about__hairline {
  background: var(--hairline-color);
  margin: 0;
  width: 80vw;
}

.about__interview {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  padding-block: 64px;
  width: 100%;
}
@media (max-width: 1400px) {
  .about__interview {
    padding-inline: var(--space-4x);
  }
}

.interview-item {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}
@media (max-width: 1200px) {
  .interview-item {
    flex-direction: column;
    gap: var(--space-8x);
  }
}

.interview__question {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  max-width: 450px;
}

.interview__answer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
}
@media (max-width: 1200px) {
  .interview__answer {
    align-self: flex-end;
  }
}
.interview__answer p {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0;
  max-width: 700px;
}

.work__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-8x);
  justify-content: center;
  padding: var(--space-8x);
  max-width: 1400px;
  width: 100%;
}

.work__heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.work__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.work__view-link {
  display: block;
}
.work__view-link:hover, .work__view-link:focus-visible {
  text-decoration: underline;
}

.work-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
}

.work-year {
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  margin: 0;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-8x);
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 600px) {
  .work-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .work-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .work-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.work-preview {
  display: flex;
}

.work-preview__link,
.work-preview__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-4x);
  width: 100%;
}

.work-preview__thumbnail picture,
.work-preview__thumbnail img {
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.work-preview__title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}
.work-preview__link:hover .work-preview__title, .work-preview__link:focus-visible .work-preview__title {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.bookshelf-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--space-8x);
}

.book-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  margin: 16px;
  max-width: 1400px;
  padding: 0;
}

.book-preview {
  display: flex;
}

.book-preview__link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book-preview__image {
  margin: 0 auto;
}

.book-preview__title {
  font-size: 1.25rem;
  margin: 0;
}

.book-preview__subtitle,
.book-preview__author,
.book-preview__rating {
  font-size: 1rem;
  margin: 0;
}

.book-preview__meta {
  font-size: 0.875rem;
  margin: 0;
}

.book-review {
  padding-block: var(--space-8x);
}

.book-review__header {
  display: grid;
  gap: 2rem;
  grid-template-columns: 250px 1fr;
  margin: 0 auto;
  max-width: 80ch;
}

.book-review__read-time {
  font-size: 0.875rem;
}

.book-review__header-image img {
  width: 100%;
}
@supports (object-fit: cover) {
  .book-review__header-image img {
    height: 400px;
    object-fit: cover;
  }
  @media (min-width: 1200px) {
    .book-review__header-image img {
      height: 800px;
    }
  }
}

.book-review__post-content {
  display: flex;
  flex-direction: column;
  margin: 3rem auto 0;
  max-width: 80ch;
}
.book-review__post-content h2:first-child {
  margin-block-start: 0;
}
.book-review__post-content h3 {
  margin-block-start: 2rem;
}
.book-review__post-content ul {
  margin: 0.5rem 0 0;
}

.bookshelf-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: var(--space-8x);
}

.book-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  margin: 16px;
  max-width: 1400px;
  padding: 0;
}

.book-preview {
  display: flex;
}

.book-preview__link {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book-preview__image {
  margin: 0 auto;
}

.book-preview__title {
  font-size: 1.25rem;
  margin: 0;
}

.book-preview__subtitle,
.book-preview__author,
.book-preview__rating {
  font-size: 1rem;
  margin: 0;
}

.book-preview__meta {
  font-size: 0.875rem;
  margin: 0;
}

.book-review {
  padding-block: var(--space-8x);
}

.book-review__header {
  display: grid;
  gap: 2rem;
  grid-template-columns: 250px 1fr;
  margin: 0 auto;
  max-width: 80ch;
}

.book-review__read-time {
  font-size: 0.875rem;
}

.book-review__header-image img {
  width: 100%;
}
@supports (object-fit: cover) {
  .book-review__header-image img {
    height: 400px;
    object-fit: cover;
  }
  @media (min-width: 1200px) {
    .book-review__header-image img {
      height: 800px;
    }
  }
}

.book-review__post-content {
  display: flex;
  flex-direction: column;
  margin: 3rem auto 0;
  max-width: 80ch;
}
.book-review__post-content h2:first-child {
  margin-block-start: 0;
}
.book-review__post-content h3 {
  margin-block-start: 2rem;
}
.book-review__post-content ul {
  margin: 0.5rem 0 0;
}

/*# sourceMappingURL=style.css.map */
