<nav class="main-nav">
        <ul class="main-nav__list">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
                <li class="main-nav__item">
                    <a href="{{ .URL }}" class="main-nav__link{{if $currentNode.IsMenuCurrent "main" .}} main-nav__link--active{{end}}">{{ .Name }}</a>
                </li>
            {{end}}
            <!--
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="sidebar-left.html">Left Sidebar</a></li>
                    <li><a href="sidebar-right.html">Right Sidebar</a></li>
                    <li><a href="single.html">Blog Post</a></li>
                </ul>
            </li>
            <li><a href="post">Blog</a></li>
            -->
        </ul>
</nav>
