<section class="recent-work">

    <h2 class="section-title"><span>Recent Works</span></h2>

    <div class="recent-work-list">
        {{ range $index, $area := .Site.Data.recentworks }}
            <article class="recent-work-list__item">
                <a class="recent-work__link" href="{{ .url }}" aria-label="See Details about {{ .name }}">
                    <div class="recent-work__thumbnail">
                        <img src="{{ .image }}" alt="" class="recent-work__image">
                        <div class="recent-work__cover">
                            <div class="recent-work__more-flag">See Details</div>
                        </div>
                    </div>
                    <p class="recent-work__title">{{ .name }}</p>
                </a>
                {{if .items}}
                    <span class="details">
                        {{ $len := sub (len .items) 1 }}
                        {{ range $i, $item := where .items "id" .index }}
                            <a href="{{ .url }}">{{ .name }}</a>
                            {{ if gt $len $i }} | {{ end }}
                        {{ end }}
                    </span>
                {{end}}
            </article>
        {{ end }}
    </div>

</section> <!-- /section -->
