<section class="services">

    <h2 class="section-title"><span>Services</span></h2>

    <div class="services-list">
        {{ range where .Data.Pages "Section" "service" }}
            <article class="services-list__item">
                <h3 class="services-list__title">{{ .Title }}</h3>
                <div class="services-list__description">{{ .Summary }}</div>
                <a href="{{ .Permalink }}" class="button button--ghost services-list__button">Read more<span class="screen-reader-text"> about {{ .Title }}</span></a>
            </article>
        {{ end }}
    </div>

</section>
