.recent-work-list {
    @include homepage-grid;
}
.recent-work__link {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
.recent-work__thumbnail {
    display: block;
    height: 180px;
    margin-bottom: $space-l;
    position: relative;
}
.recent-work__image {
    height: 100%;
    width: 100%;

    @supports (object-fit: cover) {
        object-fit: cover;
    }

    .recent-work__link:hover &,
    .recent-work__link:focus & {
        @supports (filter: grayscale(100%)) {
            filter: grayscale(100%);
        }
    }
}
.recent-work__cover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    width: 100%;
    height: 180px;
    background-color: rgba($color-white, 0.6);

    @include transition(all);

    .recent-work__link:hover &,
    .recent-work__link:focus & {
        opacity: 1;
    }
}
.recent-work__more-flag {
    position: absolute;
    bottom: 15px;
    right: 0;
    padding: $space-s $space-l;
    background: $link-color;
    color: $color-white;
}

.recent-work__title {
    color: $text-color;
    text-align: center;
}