// .services {}

.services-list {
    @include homepage-grid;
}
.services-list__item {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
}
.services-list__title {
    align-self: center;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 $space-l;
}
.services-list__description {
    margin-bottom: $space-default;
}
.services-list__button {
    align-self: end;
    justify-self: center;
}