p {
  line-height: 1.65;
  margin-bottom: 16px; }
  p:last-child {
    margin-bottom: 0; }

ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0; }

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333; }

h1 {
  font-size: 40px;
  font-size: 2.5rem; }

h2 {
  font-size: 36px;
  font-size: 2.25rem; }

h3 {
  font-size: 30px;
  font-size: 1.875rem; }

h4 {
  font-size: 24px;
  font-size: 1.5rem; }

h5 {
  font-size: 20px;
  font-size: 1.25rem; }

a {
  color: #bd1550; }

a:hover {
  color: #e93675; }

.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 1.3125rem; }

.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

@supports (text-decoration-skip: ink) {
  * {
    text-decoration-skip: ink; } }

body {
  margin: 0; }

.hero {
  background: #f4f4f4 url(../images/bg_head.jpg) top center;
  background-size: cover;
  padding: 80px; }

.hero__inner {
  text-align: center; }

.hero__logo {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto; }

.hero__title {
  font-size: 2.5rem;
  margin: 8px 0 16px;
  font-family: 'Libre Baskerville'; }

.hero__tagline {
  color: #363C49; }

.main-nav {
  background: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #C4C9D4;
  border-bottom: 1px solid #C4C9D4;
  margin-bottom: 32px;
  width: 100%; }
  @supports (position: sticky) {
    .main-nav {
      position: sticky;
      top: -1px; } }

.main-nav__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0; }

.main-nav__item {
  display: inline-flex; }

.main-nav__link {
  border-bottom: 3px solid transparent;
  transition: all .25s ease-in-out;
  position: relative;
  background: transparent;
  color: #262626;
  padding: 16px;
  text-transform: uppercase;
  text-decoration: none; }
  .main-nav__link.main-nav__link--active {
    border-color: #e0195f; }
  .main-nav__link:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 0;
    content: '.';
    color: transparent;
    background: #e0195f;
    visibility: none;
    opacity: 0;
    z-index: -1;
    transition: all .25s ease-in-out; }
  .main-nav__link:hover, .main-nav__link:focus {
    border-color: #e0195f;
    background: transparent;
    color: #fff; }
    .main-nav__link:hover:after, .main-nav__link:focus:after {
      opacity: 1;
      visibility: visible;
      height: 100%; }
  @media (min-width: 425px) {
    .main-nav__link {
      padding: 16px 24px; } }

.post-list--grid {
  display: grid;
  grid-gap: 24px 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
  .post-list--grid .post-link {
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow .25s ease-in-out; }
    .post-list--grid .post-link:hover, .post-list--grid .post-link:focus {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3); }
      .post-list--grid .post-link:hover .entry-title, .post-list--grid .post-link:focus .entry-title {
        text-decoration: underline;
        text-decoration-color: #e0195f; }
  .post-list--grid .post {
    padding: 16px;
    color: #262626;
    height: 100%; }
    .post-list--grid .post .entry-meta {
      text-align: right;
      font-size: 0.8rem;
      text-decoration: none; }
    .post-list--grid .post .entry-title {
      text-align: left;
      margin-bottom: 24px;
      font-size: 1.6rem;
      line-height: 1.35;
      font-weight: 600; }
    .post-list--grid .post .entry-content {
      margin: 0; }

/*# sourceMappingURL=main.css.map */