/* Stacks provide vertical spacing within a parent element */
.stack {
  > * + * {
    margin-block-start: var(--space-4);
  }
}

.stack[data-size="small"] {
  > * + * {
    margin-block-start: var(--space-2);
  }
}

.stack[data-size="xs"] {
  > * + * {
    margin-block-start: var(--space-1);
  }
}

.stack[data-size="xxs"] {
  > * + * {
    margin-block-start: var(--space-half);
  }
}

/* Prose is a special stack that uses em units instead of declaritive values to allow for better visual flow of mixed writing content */
.prose {
  > * + * {
    margin-block-start: 1.2em;
  }

  > :is(h2, h3, h4, h5, h6) + * {
    margin-block-start: 0.8em;
  }

  h2 {
    font-size: var(--font-size-lg);
  }
  h3 {
    font-size: var(--font-size-md);
  }
  h4 {
    font-size: var(--font-size-base);
  }

  .aside {
    background: var(--surface-lowered);
    margin-inline-start: var(--space-2);
    padding: var(--space-1) var(--space-2);
  }
}

/* post-list provides the compositional layout of post-cards in a grid */
/* TODO: Create generic grid composition classes */
.post-list {
  display: grid;
  gap: var(--space-4) var(--space-2);
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  margin-block-end: 0;
  padding: 0;
}

/* TODO: Create generic 'flow' classes for horizontal flex compositions */
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--space-half);
  list-style: none;
  padding: 0;
}
