.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 64px var(--space-4);
}

.content-container__inner {
  max-width: 1200px;
  width: 100%;
}
