@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monaspace-neon";
  src: url("/fonts/MonaspaceNeonVarVF.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

*:focus-visible {
  outline-offset: 0.25em;
  outline-width: 2px;
  outline-color: var(--link-color);
  outline-style: solid;
}

body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
  text-align: left;
  background: var(--color-body);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-text-primary);
  font-size: 20px;
  line-height: 1.7;
}

main {
  width: 100%;
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-lg);
}

h4 {
  font-size: var(--font-size-md);
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--color-text-primary);
}

a:not([class]) {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2ex;
  transition: 0.25s ease-in-out;

  &:hover,
  &:focus-visible {
    text-decoration-color: var(--link-color);
  }
}

p {
  font-size: var(--font-size-base);
}

code,
pre {
  font-family: var(--mono-font);
  font-variation-settings:
    "wght" 400,
    "wdth" 100,
    "slnt" 0;
  font-feature-settings:
    "calt" 1,
    "dlig" 1,
    "ss01" 1,
    "ss02" 1,
    "ss03" 1,
    "ss04" 1,
    "ss05" 1,
    "ss06" 1,
    "ss07" 1,
    "ss08" 1;
}

:not(pre) > code:not([class]) {
  font-size: 1em;
  font-weight: 700;
  vertical-align: baseline;
}

pre {
  border-radius: 8px;
  font-size: 1rem;
  padding: 0.75em;
  white-space: pre-wrap;
}
