.main-nav {
    background: rgba($color-white, .9);
    border-top: 1px solid $color-neutral-80;
    border-bottom: 1px solid $color-neutral-80;
    margin-bottom: $space-xl;
    width: 100%;

    @supports (position: sticky) {
        position: sticky;
        top: -1px;
    }
}

.main-nav__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    display: inline-flex;
}

.main-nav__link {
    border-bottom: 3px solid transparent;
    transition: all .25s ease-in-out;
    position: relative;
    background: transparent;
    color: $text-color;
    padding: $space-default;
    text-transform: uppercase;
    text-decoration: none;

    &.main-nav__link--active {
        border-color: $link-color;
    }

    &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 0;
        content: '.';
        color: transparent;
        background: $link-color;
        visibility: none;
        opacity: 0;
        z-index: -1;
        transition: all .25s ease-in-out;
    }

    &:hover,
    &:focus {
        border-color: $link-color;
        background: transparent;
        color: $color-white;

        &:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
    }

    @media (min-width: $breakpoint-small) {
        padding: $space-default $space-l;
    }
}