.text-accent-1 {
  color: var(--color-accent-1);
}
.text-accent-2 {
  color: var(--color-accent-2);
}
.text-accent-3 {
  color: var(--color-accent-3);
}
.text-accent-4 {
  color: var(--color-accent-4);
}
.text-accent-5 {
  color: var(--color-accent-5);
}
