:root {
  /*  */
  /* Font Variables */
  /*  */
  --font-size-sm: clamp(0.98rem, -0.24vw + 1.03rem, 0.84rem);
  --font-size-base: clamp(1.13rem, 0vw + 1.13rem, 1.13rem);
  --font-size-md: clamp(1.29rem, 0.37vw + 1.22rem, 1.5rem);
  --font-size-lg: clamp(1.49rem, 0.93vw + 1.3rem, 2rem);
  --font-size-xl: clamp(1.71rem, 1.73vw + 1.36rem, 2.66rem);
  --font-size-xxl: clamp(1.97rem, 2.88vw + 1.39rem, 3.55rem);
  --font-size-xxxl: clamp(2.26rem, 4.49vw + 1.36rem, 4.73rem);

  --heading-font: "Atkinson", sans-serif;
  --body-font: system-ui, sans-serif;
  --serif-font: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --mono-font: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;

  /*  */
  /* Color Variables */
  /*  */

  --white-raw: 87.17% 0.009 258.34;
  --white: oklch(var(--white-raw));

  --navy: oklch(20.43% 0.0592 249.46);

  --gold: oklch(85.61% 0.1821 82.85);
  --gold-dark: oklch(56.77% 0.1345 82.85);

  /* TODO: Remove these and replace with branded tokens */
  --gray: 96, 115, 159;
  --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
    0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);

  /*  */
  /* Semantic Variables */
  /*  */

  --accent: var(--gold);
  --accent-dark: var(--gold-dark);
  --body-background: var(--navy);
  --body-color: var(--white);
  --link-color: var(--gold);
  --link-color-hover: var(--gold-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: var(--navy);
    --body-color: var(--white);
    --heading-color: var(--gold);
  }
}
