$space-xs: 4px;
$space-s: 8px;
$space-default: 16px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-xxl: 64px;
$space-xxxl: 80px;

$color-black: #262626;
$color-white: #fff;
$color-neutral-15: #21242C;
$color-neutral-20: #2B303B;
$color-neutral-25: #363C49;
$color-neutral-42: #58627D;
$color-neutral-80: #C4C9D4;

$text-color: $color-black;

$link-color: #e0195f;

$breakpoint-small: 425px;