---
layout: layouts/base
layoutType: about
---

<section class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">About Me</h1>
    </div>
</section>

{% include 'partials/aboutMenu' %}

<div class="about__content">
    {{ content }}
</div>

<hr class="about__hairline">

<div class="about__interview">
    <div class="interview-item">
        <p class="interview__question">What inspired you to pursue a career in design?</p>
        <div class="interview__answer">
            <p>
                I've always had an interest in designing things, even before I understood what that meant. As a child I would spend hours building with LEGO or taking apart small electronics or machines to see how they worked.
            </p>
            <p>
                In high school I had the opportunity to take a class focused on graphic design and immediately fell in love with the rigidity and structure of Bauhaus design and the International Typographic Style.
            </p>
            <p>
                To this day I will still spend hours putting together massive LEGO sets, and I've gone from disassembling small electronics to creating systems that other people use to create products.
            </p>
        </div>
    </div>
    <div class="interview-item">
        <p class="interview__question">Describe your job without using the words "design" or "designer."</p>
        <div class="interview__answer">
            <p>
                I work with a team of expert problem solvers to identify needs and provide smart scalable solutions, removing tedium from other's workloads so they can focus on more interesting challenges.
            </p>
        </div>
    </div>
    <div class="interview-item">
        <p class="interview__question">What's one piece of design wisdom you would give to new designers?</p>
        <div class="interview__answer">
            <p>
                Spend time exploring the vast landscape of the field. You don't need to specialize immediately, and may not need to at all.
            </p>
            <p>
                The design field has many paths for a successful career and all to often we hear about the hyperspecialized rockstar who is 10xing their team's output. The reality is that person is able to be successful because they are surrounded by a vast support system of other disciplines and individuals who clear the way so they can be that focused.
            </p>
            <p>
                I for example am a Broken Comb person, I do not have any single hyper specialization, instead I chose to focus on being a generalist who can assist in a multitude of roles. With my career path in Design Systems this is incredibly useful as I have a working knowledge of all the teams we work with on a daily basis, be it design, development, or product management.
            </p>
        </div>
    </div>
</div>