<!DOCTYPE html>
<html lang="en">
    {% include partials/head %}

    <body>
        {% include partials/menu %}

        <main class="main-content {{ layoutType }} {{ title | slug }}">
            {{content}}
        </main>
        
        {% include partials/scripts %}
        {% include partials/footer %}
    </body>
</html>