---
layout: layouts/base
layoutType: post
---
<div class="blog-post">
    <section class="blog-post__heading">
        <h1 class="blog-post__title">{{title}}</h1>
        <p class="blog-post__date">Posted on {{ date | postDate }}</p>
        <p class="blog-post__read-time">{{content | emojiReadTime}}</p>
    </section>
    {% if headerImage %}
        <section class="blog-post__header-image">
            {% image headerImage, "", "100vw" %}
        </section>
    {% endif %}
    <section class="blog-post__post-content">
        {{ content }}
    </section>
</div>