---
layout: layouts/base
layoutType: bookshelf
---

<section class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Bookshelf</h1>
    </div>
</section>

<div class="bookshelf-content">
    <ul class="book-list">
        {% for book in collections.bookshelf reversed %}
            {% include partials/book %} 
        {% endfor %}
    </ul>
</div>