---
layout: layouts/base
layoutType: work
---
<div class="blog-post">
    <section class="blog-post__metadata">
        <h1 class="blog-post__title">{{title}}</h1>
        <p class="blog-post__date">Posted on {{ date | postDate }}</p>
    </section>
    {% if headerImage %}
        <section class="blog-post__header-image">
            {% image headerImage, "", "100vw" %}
        </section>
    {% endif %}
    <section class="blog-post__post-content">
        {% if image %}{% image image, "" %}{% endif %}
        {{ content }}
    </section>
</div>