---
layout: layouts/base
layoutType: writing
---

<section class="blog-roll">
    <h2 class="blog-roll__title">Writing Archive</h2>
    <ul class="post-list post-list--writing">
        {% for post in collections.posts reversed %}
            <li class="post-preview">
                <a class="post-preview__link" href="{{ post.url }}">
                    <h2 class="post-preview__title">{{ post.data.title }}</h2>
                    <p class="post-preview__meta">Posted on {{ post.data.date | postDate }}</p>
                    {% if post.data.subtitle %}
                        <p class="post-preview__subtitle">{{ post.data.subtitle }}</p>
                    {% endif %}
                </a>
            </li> 
        {% endfor %}
    </ul>
</section>