---
layout: layouts/base
layoutType: writing
---
<section class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Writing</h1>
    </div>
</section>

<div class="blog-roll">
    <div class="blog-roll__inner">
        {% for year, yearPosts in collections.postsByYear %}
            <section class="blog-section">
                <h2 class="blog-year">{{ year }}</h2>
                <ul class="post-list post-list--home">
                    {% for post in yearPosts %}
                        <li class="post-preview">
                            <a class="post-preview__link" href="{{ post.url }}">
                                <h3 class="post-preview__title">{{ post.data.title }}</h3>
                            </a>
                                {% if post.data.subtitle %}
                                    <p class="post-preview__subtitle">{{ post.data.subtitle }}</p>
                                {% endif %}
                                <p class="post-preview__meta">Posted on {{ post.data.date | postDate }}</p>
                        </li> 
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </div>
</div>