---
layout: layouts/base
layoutType: writing
---
<section class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Writing</h1>
    </div>
</section>

<div class="blog-roll">
    <div class="blog-roll__inner">
        <h2 class="blog-roll__title">Latest Posts</h2>
        <ul class="post-list post-list--home">
            <!-- TODO: Seperate posts by year -->
            {% for post in collections.posts reversed %}
                <li class="post-preview">
                    <a class="post-preview__link" href="{{ post.url }}">
                        <h2 class="post-preview__title">{{ post.data.title }}</h2>
                        {% if post.data.subtitle %}
                            <p class="post-preview__subtitle">{{ post.data.subtitle }}</p>
                        {% endif %}
                        <p class="post-preview__meta">Posted on {{ post.data.date | postDate }}</p>
                    </a>
                </li> 
            {% endfor %}
        </ul>
    </div>
</div>