---
title: "Writing"
layout: layouts/base
override:tags: []
permalink: "/writing/index.html"
---
<section class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Writing</h1>
    </div>
</section>

{% import "_posts.njk" as posts %}

<div class="blog-roll">
    <div class="blog-roll__inner">
        {% for year, yearPosts in collections.postsYearList %}
            <section class="blog-section">
                <h2 class="blog-year">{{ year }}</h2>
                <ul class="post-list post-list--home">
                    {{ posts.list(yearPosts, {style: "compact"}) }}
                </ul>
            </section>
        {% endfor %}
    </div>
</div>