---
import Layout from '../layouts/Base.astro';
import AboutHero from '../components/AboutHero.astro';
import DesignPhilosophy from '@/components/DesignPhilosophy.astro';
---

<Layout
    title="About Me"
    description="Adam Sedwick is a design systems lead and accessibility advocate"
>
    <main>
        <AboutHero />
        <DesignPhilosophy />
    </main>
</Layout>
