---
import Layout from '../layouts/Base.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import HomeHero from '../components/Home/HomeHero.astro';
import DesignPhilosophy from '@/components/DesignPhilosophy.astro';
import HomeCaseStudies from '@/components/Home/HomeCaseStudies.astro';
import HomePosts from '@/components/Home/HomePosts.astro';

const posts = (await getCollection('writing'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 6);

const work = (await getCollection('work'))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 4);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main>
        <HomeHero />
        <DesignPhilosophy />
        <HomeCaseStudies />
        <HomePosts />
    </main>
</Layout>
