---
import Layout from '@layouts/Base.astro';
import SectionHeader from '@components/SectionHeader.astro';
---

<Layout
    title="Uses"
    description="The hardware, software, and other miscellanea I use to get work done"
>
    <main>
        <section class="uses-section content-container">
            <div class="uses-section__inner content-container__inner">
                <SectionHeader
                    title="Uses"
                    subtitle="The tools and technologies I use to get work done."
                    sectionaccentcolor="accent-4"
                />
            </div>
        </section>
        <section class="uses-section content-container">
            <div class="uses-section__inner content-container__inner">
                <h2 class="section-title">Development</h2>
                <ul class="uses-list">
                    <li>Visual Studio Code, Exploring Zed and Cursor</li>
                    <li>Monokai Pro's Octogon theme</li>
                    <li>Github's Monaspace Neon with code ligature</li>
                    <li>Firefox for their dev tools</li>
                </ul>
            </div>
        </section>
        <section class="uses-section content-container">
            <div class="uses-section__inner content-container__inner">
                <h2 class="section-title">Design</h2>
                <ul class="uses-list">
                    <li>Figma</li>
                    <li>
                        Testing Lovable, v0, and Mocha for AI design enablement
                    </li>
                    <li>
                        Dovetail for collecting and synthesizing user research
                    </li>
                    <li>Pendo and Looker for data and analytics</li>
                </ul>
            </div>
        </section>
        <section class="uses-section content-container">
            <div class="uses-section__inner content-container__inner">
                <h2 class="section-title">Productivity</h2>
                <ul class="uses-list">
                    <li>Notion for note-taking and organization</li>
                    <li>Trello and Jira for project management</li>
                    <li>Slack for team communication</li>
                    <li>Raycast and PowerToys for productivity enhancements</li>
                </ul>
            </div>
        </section>
        <section class="uses-section content-container">
            <div class="uses-section__inner content-container__inner">
                <h2 class="section-title">On My Desk</h2>
                <ul class="uses-list">
                    <li>Uplift v2 commercial standing desk</li>
                    <li>Autonomous Ergochair Pro</li>
                    <li>Keychron K4 and Aula F75 Keyboards</li>
                    <li>3 monitor setup, 32” and two 27”</li>
                    <li>Shure MV7+ love ease of usb-c for on-the-go setups</li>
                    <li>Sony a6400</li>
                    <li>Uniball One pens</li>
                </ul>
            </div>
        </section>
        <section class="uses-section content-container">
            <div class="uses-section__inner content-container__inner">
                <h2 class="section-title">Hardware</h2>
                <ul class="uses-list">
                    <li>Custom Windows PC</li>
                    <li>M3 MacBook Air</li>
                    <li>M1 iPad Air</li>
                </ul>
            </div>
        </section>
        <section class="uses-section content-container">
            <div class="uses-section__inner content-container__inner">
                <h2 class="section-title">Travel</h2>
                <ul class="uses-list">
                    <li>LTT store Commuter backpack</li>
                    <li>
                        Assorted pocket notebooks (A5 or smaller), the size is
                        perfect for quick notes
                    </li>
                    <li>NuPHY Air 75 for click-clacks on the go</li>
                </ul>
            </div>
        </section>
    </main>

    <style>
        .uses-section:nth-child(even) {
            background-color: var(--color-surface-1);
        }
        .uses-section__inner {
            align-items: start;
            display: flex;
            flex-direction: column;
            gap: var(--space-4);
            justify-content: center;
        }

        .section-title {
            font-size: 32px;
        }

        .uses-list {
            display: flex;
            flex-direction: column;
            gap: var(--space-2);
            font-size: 24px;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    </style>
</Layout>
