---
import Layout from '@layouts/Base.astro';
import { Picture } from 'astro:assets';
import FormattedDate from '@components/FormattedDate.astro';
import AboutInterview from '@components/AboutInterview.astro';

const updatedDate = new Date('December 13 2023');
import heroImage from '@images/Funko_Headshot.png';
---

<Layout
    title="About Me"
    description="Adam Sedwick is a design systems lead and accessibilit advocate"
>
    <main class="stack | theme-about">
        <div class="page-intro | stack" data-size="xs">
            <h1 class="title">Uses</h1>
            <p class="about-bio | fs-md text-cap-width">
                The hardware, software, and other miscellanea I use to get work
                done
            </p>
        </div>
        <div class="highlights | stack" data-size="small">
            <div class="highlight | stack" data-size="small">
                <h2 class="highlight-year | block-highlight | fs-lg">
                    Development
                </h2>
                <ul class="highlight-list | stack" data-size="xs">
                    <li class="highlight-item">
                        Visual Studio Code is my editor of choice
                    </li>
                    <li class="highlight-item">
                        Monokai Pro's Octogon theme. Monokai inspired the
                        current theme of this site
                    </li>
                    <li class="highlight-item">
                        Github's own Monaspace Neon. With code ligatures
                    </li>
                    <li class="highlight-item">
                        I still daily drive Firefox. Test driving Arc and using
                        chrome to play with new web features
                    </li>
                    <li class="highlight-item">
                        I'm an unashamed user of the VSCode Terminal. If I need
                        a standalone iTerm2 with OhMyZsh is on hand
                    </li>
                </ul>
            </div>
            <div class="highlight | stack" data-size="small">
                <h2 class="highlight-year | block-highlight | fs-lg">Design</h2>
                <ul class="highlight-list | stack" data-size="xs">
                    <li class="highlight-item">
                        Figma feels like an obvious answer here
                    </li>
                    <li class="highlight-item">
                        SuperTidy is a must, though the Figma AI tools might
                        replace this plugin
                    </li>
                    <li class="highlight-item">
                        Nathan Curtis' amazing Spec plugin for quick and easy
                        component references
                    </li>
                    <li class="highlight-item">
                        Able for checking color and contrast accessibility
                    </li>
                </ul>
            </div>
            <div class="highlight | stack" data-size="small">
                <h2 class="highlight-year | block-highlight | fs-lg">
                    Productivity
                </h2>
                <ul class="highlight-list | stack" data-size="xs">
                    <li class="highlight-item">
                        Notion for writing. Documentation, proposals, blog
                        posts, notes, it all goes here
                    </li>
                    <li class="highlight-item">
                        Raycast for launching applications and other quick tasks
                    </li>
                    <li class="highlight-item">
                        Spotify for music. The AI DJ is decent
                    </li>
                    <li class="highlight-item">Overcast for podcasts</li>
                </ul>
            </div>
            <div class="highlight | stack" data-size="small">
                <h2 class="highlight-year | block-highlight | fs-lg">
                    On My Desk
                </h2>
                <ul class="highlight-list | stack" data-size="xs">
                    <li class="highlight-item">
                        The desk itself is an UPLIFT v2. I like the added
                        stability of the commercial model, and I don't have to
                        worry about putting too much weight on the desk
                    </li>
                    <li class="highlight-item">
                        Spend all day sitting in an Autonomous ErgoChair Pro. It
                        does the job
                    </li>
                    <li class="highlight-item">
                        32” primary and 27” secondary monitors, 1440p 144hz
                    </li>
                    <li class="highlight-item">
                        Blue Yeti mounted on a Fifine low-profile arm for audio
                    </li>
                    <li class="highlight-item">
                        Sony a6400 with an 18-105 going into a Camlink 4k for
                        video
                    </li>
                    <li class="highlight-item">
                        A stockpile of notebooks and the Uniball One pen
                    </li>
                </ul>
            </div>
            <div class="highlight | stack" data-size="small">
                <h2 class="highlight-year | block-highlight | fs-lg">
                    Hardware
                </h2>
                <ul class="highlight-list | stack" data-size="xs">
                    <li class="highlight-item">
                        Custom Ryzen 5800x PC with a 3060
                    </li>
                    <li class="highlight-item">2016 Macbook Pro</li>
                    <li class="highlight-item">iPad Air</li>
                    <li class="highlight-item">MX Master 2S</li>
                    <li class="highlight-item">
                        Keychron K4 with the Hyekit Marshmallow kepcaps
                    </li>
                </ul>
            </div>
            <div class="highlight | stack" data-size="small">
                <h2 class="highlight-year | block-highlight | fs-lg">Travel</h2>
                <ul class="highlight-list | stack" data-size="xs">
                    <li class="highlight-item">
                        Either the Ruvalino Diaper Backpack or a Peak Design bag
                        depending on whether I'm out with the kiddo or not
                    </li>
                    <li class="highlight-item">
                        Field Notes and a Uniball One pen. Still can't beat the
                        pocketability of these little notebooks
                    </li>
                    <li class="highlight-item">
                        NuPHY Air 75 for click-clacks on the go
                    </li>
                </ul>
            </div>
        </div>
    </main>
</Layout>

<style>
    .about-bio {
        a {
            display: inline;
        }
    }

    .uses-promo {
        background: var(--surface-raised);
        border-radius: var(--border-radius-m);
        padding: var(--space-2);
    }

    .highlight {
        --highlight-color: var(--surface-raised);

        &:first-of-type {
            --highlight-color: var(--accent-1);
        }

        &:nth-of-type(2) {
            --highlight-color: var(--accent-2);
        }

        &:nth-of-type(3) {
            --highlight-color: var(--accent-3);
        }

        &:nth-of-type(4) {
            --highlight-color: var(--accent-4);
        }

        &:nth-of-type(n + 5) {
            .highlight-year {
                color: var(--text-priamry);
            }
        }
    }

    .highlight-year {
        border-radius: var(--border-radius-s);
        display: block;
        padding: var(--space-half) var(--space-1);
        width: max-content;
    }

    .highlight-list {
        margin-block-end: 0;
        padding-inline-start: var(--space-4);
    }
</style>
