---
title: "Work"
layout: layouts/base
override:tags: []
permalink: "/work/index.html"
---
<section class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">Work</h1>
    </div>
</section>

<div class="work">
    <div class="work__inner">
        {% for year, yearPosts in collections.workByYear %}
            <section class="work-section">
                <h2 class="work-year">{{ year }}</h2>
                <ul class="work-list">
                    {% for post in yearPosts %}
                        <li class="work-preview">
                    {% if post.data.exampleLink %}
                        <a class="work-preview__link" href="{{ post.data.exampleLink }}" target="_blank">
                            <div class="work-preview__thumbnail">
                                {% if post.data.image %}
                                    {% image post.data.image, "" %}
                                {% endif %}
                            </div>
                            <p class="work-preview__title">{{ post.data.title }}</p>
                        </a>
                    {% else %}
                        <div class="work-preview__inner">
                            <div class="work-preview__thumbnail">
                                {% if post.data.image %}
                                    {% image post.data.image, "" %}
                                {% endif %}
                            </div>
                            <p class="work-preview__title">{{ post.data.title }}</p>
                        </div>
                    {% endif %}
                </li> 
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    </div>
</div>