{{ partial "header.html" . }}

<main id="main">

	<div class="container">
		<article class="post post--single">
			<header class="entry-header">
				<div class="entry-meta">
					<span class="posted-on"><time class="entry-date published" date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
				</div>
				<h1 class="entry-title">{{ .Title }}</h1>
			</header>
			<div class="entry-content">
				{{ .Content }}
			</div>
		</article>
	</div>

</main>

{{ partial "footer.html" . }}
