---
import SocialLink from './SocialLink.astro';
const today = new Date();
---

<footer class="footer">
    <div class="footer__inner">
        <p class="footer__copyright">
            &copy; {today.getFullYear()} Adam Sedwick
        </p>

        <div class="social-links">
            <SocialLink
                type="email"
                href="mailto:adam.sedwick@gmail.com"
                aria-label="Email Me"
            />
            <SocialLink
                type="linkedin"
                href="https://www.linkedin.com/in/adamsedwick/"
                aria-label="LinkedIn Link"
            />
            <SocialLink
                type="twitter"
                href="https://twitter.com/AdamSedwick"
                aria-label="Twitter Link"
            />
            <SocialLink
                type="mastodon"
                href="https://mastodon.social/@AdamSedwick"
                aria-label="Mastodon Link"
            />
            <SocialLink
                type="github"
                href="https://github.com/Blind3y3Design"
                aria-label="Github Link"
            />
        </div>
    </div>
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        padding: var(--space-2);
    }

    .footer__inner {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        gap: var(--space-2);
        justify-content: space-between;

        @media (min-width: 600px) {
            flex-direction: row;
            max-width: 1200px;
            width: 100%;
        }
    }

    .footer__copyright {
        margin: 0;
    }

    .social-links {
        display: flex;
        gap: var(--space-1);
    }
</style>
