---

---

<section class="h-card">
  <!-- About Me -->
  <p class="p-name">Adam Sedwick</p>
  <p class="p-note">
    I work on Design systems and Advocate for Accessibility on the web.
  </p>
  <p class="p-locality">Tennessee</p>

  <!-- Links -->
  <a href="https://www.blind3y3design.com/" class="u-url u-uid"></a>
  <a href="mailto:adam.sedwick@gmail.com" rel="me" class="u-email"></a>
  <a href="https://www.linkedin.com/in/adamsedwick/" rel="me" class="u-url"></a>
  <a href="https://twitter.com/AdamSedwick" rel="me" class="u-url"></a>
  <a href="https://mastodon.social/@AdamSedwick" rel="me" class="u-url"></a>
  <a href="https://github.com/Blind3y3Design" rel="me" class="u-url"></a>

  <!-- Categories -->
  <p class="p-category">Blogging</p>
  <p class="p-category">Design Systems</p>
  <p class="p-category">Design Tokens</p>
  <p class="p-category">Web Accessibility</p>
  <p class="p-category">Web Design</p>
  <p class="p-category">Web Development</p>
  <p class="p-category">Open Web Standards</p>
</section>

<style>
  section {
    display: none;
  }
</style>
