---
// import { Icon } from 'astro-icon';
import HeaderLink from './HeaderLink.astro';
---

<header class="nav-header">
  <a href="/" class="home-link">
    <!-- <Icon class="home-logo" name="logo" /> -->
    Adam Sedwick
  </a>
  <nav class="main-nav">
    <button class="menu-button">
      <span class="menu-icon menu-icon-left"></span>
      <span class="menu-icon"></span>
      <span class="menu-icon menu-icon-right"></span>
    </button>
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <HeaderLink href="/writing">Writing</HeaderLink>
      </li>
      <li class="main-nav__item">
        <HeaderLink href="/work">Work</HeaderLink>
      </li>
      <li class="main-nav__item">
        <HeaderLink href="/projects">Projects</HeaderLink>
      </li>
      <li class="main-nav__item">
        <HeaderLink href="/about">About</HeaderLink>
      </li>
      <li class="main-nav__item">
        <HeaderLink href="/bookshelf">Bookshelf</HeaderLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  .nav-header {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding: 1rem;
    position: relative;
  }

  .home-link {
    color: var(--gold);
    font-family: var(--body-font);
    font-size: var(--font-size-xl);
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 2px;
    text-underline-offset: 0ex;
    transition: .25s ease-in-out;

    &:hover,
    &:focus-visible {
      color: var(--gold-dark);
      text-decoration-color: var(--gold-dark);
      text-decoration-thickness: 4px;
      text-underline-offset: 0.2ex;
    }
  }

  .main-nav__items {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    @media (max-width: 767px) {
        display: none;

    .main-nav.active & {
        background: var(--body-background);
        display: flex;
        flex-direction: column;
        left: 0;
        padding: 1rem;
        position: absolute;
        top: calc(100% + 8px);
        width: 100%;
        z-index: 1;
    }
}
  }

  .main-nav__item {
    list-style: none;
  }

  .menu-button {
    --size: 30px;

    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: var(--size);
    justify-content: center;
    padding: 0
    width: var(--size);
    @media (min-width: 768px) {
      display: none;
    }
  }
  .menu-icon {
    height: 2px;
    width: var(--size, 30px);
    display: block;
    background-color: var(--body-color);
    transition:
      transform 0.2s ease,
      background-color 0.5s ease;

      .main-nav.active & {
        transform: translateX(0px) rotate(-45deg);
      }
  }
  .menu-icon-left {
    width: calc(var(--size) / 2);

    .main-nav.active & {
        transform: translateX(1px) rotate(45deg);
    }
  }
  .menu-icon-right {
    align-self: flex-end;
    width: calc(var(--size) / 2);

    .main-nav.active & {
        transform: translateX(-2px) rotate(45deg);
    }
  }

</style>

<script>
  const menuButton: HTMLElement = document.querySelector(".menu-button") as HTMLElement;
  const nav: HTMLElement = document.querySelector(".main-nav") as HTMLElement;
  menuButton.onclick = () => {
    nav.classList.toggle("active");
  };
</script>
