---
import SocialLink from './SocialLink.astro';
const today = new Date();
---

<footer class="footer">
    <div class="footer__inner">
        <p class="footer__copyright">
            &copy; {today.getFullYear()} Adam Sedwick
        </p>

        <div class="social-links">
            <SocialLink
                type="email"
                href="mailto:adam.sedwick@gmail.com"
                aria-label="Email Me"
            />
            <SocialLink
                type="linkedin"
                href="https://www.linkedin.com/in/blind3y3design"
                aria-label="LinkedIn Link"
            />
            <SocialLink
                type="github"
                href="https://github.com/Blind3y3Design"
                aria-label="Github Link"
            />
        </div>
    </div>
</footer>

<style>
    footer {
        background: var(--footer-background);
        color: var(--footer-text-color);
        display: flex;
        justify-content: center;
        padding: 1rem;

        @media (min-width: 600px) {
            padding: 2rem;
        }
    }

    .footer__inner {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        justify-content: space-between;

        @media (min-width: 600px) {
            flex-direction: row;
            max-width: 1400px;
            width: 100%;
        }
    }

    .footer__copyright {
        margin: 0;
    }

    .social-links {
        display: flex;
        gap: 0.5rem;
    }
</style>
