---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

interface Props extends HTMLAttributes<'a'> {
    link: string;
    linkText: string;
}

const { link, linkText = 'View Link', ...props } = Astro.props;
---

<a href={link} class="post-link" {...props}>
    {linkText}
    <Icon class="post-link__icon" name="mdi:link-variant" />
</a>

<style>
    .post-link {
        align-items: center;
        background: var(--color-accent-1);
        border-radius: var(--border-radius-m);
        color: var(--color-text-accent);
        display: flex;
        gap: 0.25em;
        padding: var(--space-1) var(--space-2);
        text-decoration: none;
        transition: background 0.25s ease-in-out;
        width: max-content;

        &:hover,
        &:focus-visible {
            background: color-mix(
                in srgb,
                var(--color-accent-1),
                transparent 15%
            );
        }
    }

    .post-link__icon {
        height: 1em;
        width: 1em;
    }
</style>
