---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

import Button from '@components/Button.astro';

type Props = HTMLAttributes<'a'>;

const { type, href, class: className, ...props } = Astro.props;
---

<Button
    tag="a"
    href={href}
    class:list={[className, 'social-link']}
    buttonType="icon"
    {...props}
>
    <Icon name={`mdi:${type}`} size={24} />
</Button>
