---
import type { HTMLAttributes } from "astro/types";
import FormattedTag from "./FormattedTag.astro";

interface Props extends HTMLAttributes<"a"> {
  tag: string;
  count: number;
}

const { tag, count, ...props } = Astro.props;
---

<a href=`/writing/tags/${tag}` class="tag-link" {...props}>
  <FormattedTag tag={tag} />
</a>
 ({count})

<style></style>
