/* --------------------

Custom Layout Styles

-------------------- */

// Clearfix Mixin
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.entry-title {
	margin-left: 35px;
}

*[class*="col_"] {
	@extend %clearfix;
}

.date {
	font-family: $sans-alt;
}