---
import Layout from '@layouts/Base.astro';
import WorkCaseStudies from '@/components/Work/WorkCaseStudies.astro';
import WorkSamples from '@/components/Work/WorkSamples.astro';

const { title = 'Work', description = 'Case Studies and Work Samples' } =
    Astro.props;
---

<Layout title={title} description={description}>
    <main>
        <WorkCaseStudies />
        <WorkSamples />
    </main>
</Layout>
