{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
           | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread"
             data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">Comments</a>
        {% endif %}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% if index %}
  <div class="entry-content">{{ content | excerpt }}</div>
  {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
  {% if excerpted == 'true' %}
    <footer>
      <a rel="full-article" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
       </footer>
   {% endif %}
 {% else %}

    <div id="photoDiv"><img alt='' src="{{ page.image }}" width="{{ page.photoWidth }}" height="{{ page.photoHeight }}"></div>
    <div class="entry-content">
      <h1 class="entry-title">{{ page.title }}</h1>
      <div id="photoInfoDiv">
        <div id="photoDescriptionDiv">{{ content }}</div>
        <div id="photoExifDiv">
          <table>
            {% if page.iso %}<tr><th>ISO</th><td>{{ page.iso }}</td></tr>{% endif %}
            {% if page.aperture %}<tr><th>Aperture</th><td>{{ page.aperture }}</td></tr>{% endif %}
            {% if page.shutterSpeed %}<tr><th>Shutter Speed</th><td>{{ page.shutterSpeed }}s</td></tr>{% endif %}
            {% if page.focalLength %}<tr><th>Focal Length</th><td>{{ page.focalLength }}</td></tr>{% endif %}
            {% if page.scaleFactor %}<tr><th>Scale Factor to 35mm</th><td>{{ page.scaleFactor }}</td></tr>{% endif %}
            {% if page.flash %}<tr><th>Flash</th><td>{{ page.flash }}</td></tr>{% endif %}
            {% if page.expComp %}<tr><th>Exposure Compensation</th><td>{{ page.expComp }}</td></tr>{% endif %}
            {% if page.camera %}<tr><th>Camera</th><td>{{ page.camera }}</td></tr>{% endif %}
            {% if page.lens %}<tr><th>Lens</th><td>{{ page.lens }}</td></tr>{% endif %}
            {% if page.creator %}<tr><th>Creator</th><td>{{ page.creator }}</td></tr>{% endif %}
            {% if page.dateTaken %}<tr><th>Date Taken</th><td>{{ page.dateTaken }}</td></tr>{% endif %}
            {% if page.copyright %}<tr><th>Copyright</th><td>{{ page.copyright }}</td></tr>{% endif %}
            {% if page.license %}<tr><th>License</th><td>{{ page.license }}</td></tr>{% endif %}
            {% if page.histogram %}<tr><th>Histogram</th><td><img alt="Histogram" width="{{ page.histogramWidth }}" height="{{ page.histogramHeight }}" src="{{ page.histogram }}"></td></tr>{% endif %}
          </table>
        </div>
      </div>
    </div>

 {% endif %}
