---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import HCard from '@components/HCard.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <BaseHead title={title} description={description} />
    <body class={title.toLowerCase()}>
        <div class="construction-header">
            <p>
                I'm currently rebuilding my site using
                <a href="https://astro.build/" target="_blank"> Astro</a>.
                Please bear with me as it comes together.
            </p>
        </div>
        <Header />
        <slot />
        <Footer />
        <script>
            // Global Scripts here
        </script>
        <style>
            .construction-header {
                background: #141c1f;
                padding: 1rem;
                text-align: center;
            }
        </style>
        <HCard />
    </body>
</html>
