.about__content {
    max-width: 80ch;
    padding-block: 64px;
    width: 100%;

    @media (max-width: 1024px) {
        padding-inline: var(--space-4x);
    }

    p {
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

.about__hairline {
    background: var(--hairline-color);
    margin: 0;
    width: 80vw;
}

.about__interview {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    padding-block: 64px;
    width: 100%;

    @media (max-width: 1400px) {
        padding-inline: var(--space-4x);
    }
}

.interview-item {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: var(--space-8x);
    }
}

.interview__question {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    max-width: 450px;
}

.interview__answer {
    display: flex;
    flex-direction: column;
    gap: var(--space-4x);

    @media (max-width: 1200px) {
        align-self: flex-end;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.4;
        margin: 0;
        max-width: 700px;
    }
}