@font-face {
  font-family: "monaspace-neon";
  src: url("/fonts/MonaspaceNeon-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 18px;
  margin: 0;
  padding: 0;
}

main {
  align-items: center;
  display: flex;
  min-height: calc(100vh - 80px);
  flex-direction: column;
  margin: 0 auto;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.25rem;
}

p {
  margin-top: 0.75rem;

  a {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.2ex;
  }
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

figcaption {
  padding: 8px;
  font-size: 0.875rem;
}

code {
  font-size: 1rem;

  &:not([class]) {
    font-size: 1em;
    font-weight: 700;
    vertical-align: baseline;
  }
}

picture {
  img {
    height: auto;
    max-width: 100%;
  }
}

hr {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--text-color),
    rgba(0, 0, 0, 0)
  );
  border: 0;
  height: 1px;
  margin: 48px 0;
}

// Prisma Overrides

pre[class*="language-"] code {
  @media (max-width: 630px) {
    white-space: inherit;
  }
}

code[class*="language-"] {
  @media (min-width: 630px) {
    font-size: 1rem;
  }
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 1px solid var(--text-color);
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: "monaspace-neon", monospace;
}
