.blog-roll {
    display: flex;
    gap: var(--space-4x);
    justify-content: center;
    padding: var(--space-8x);
    max-width: 1400px;
    width: 100%;
}

.blog-roll__inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-8x);
    max-width: 700px;
    width: 100%;
}

.blog-roll__title {
    font-size: clamp(1.5rem, 3vw, 2rem);;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.blog-section {
    display: flex;
    flex-direction: column;
}

.blog-year {
    font-size: 2rem;
    margin: 0;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-4x);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.post-preview__link {
    align-items: flex-start;
    color: var(--link-color);
    display: flex;
    flex-direction: column;
    gap: var(--space-3x);
    justify-content: center;
    text-decoration: none;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: 2px;
        text-underline-offset: .2ex;
    }
}

.post-preview__title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
}

.post-preview__subtitle {
    margin: 0;
}

.post-preview__meta {
    font-size: .875rem;
    margin: 0;
}

// 
// BEGIN BLOG POST PAGE
// 

.blog-post {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-post__heading {
    display: flex;
    flex-direction: column;
    gap: var(--space-4x);
    padding-block: var(--space-8x);
    max-width: 80ch;
    width: 100%;

    @media (max-width: 1024px) {
        padding-inline: var(--space-4x);
    }
}

.blog-post__title {
    font-size: clamp(2rem, 4vw, 3rem);
    margin: 0;
}

.blog-post__thought-status {
    font-size: .875rem;
    margin: 0;
}

.blog-post__date {
    font-size: 1.25rem;
    margin: 0;
}

.blog-post__read-time {
    font-size: .875rem;
    margin: 0;
}

.blog-post__header-image {
    width: 100%;

    &.blog-post__header-image--contained {
        max-width: 80ch;
        padding-inline: var(--space-4x);
    }

    img {
        object-fit: cover;
        height: 350px;
        width: 100%;
    }

    svg {
        fill: var(--text-color);
    }
}

.blog-post__post-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4x);
    max-width: 80ch;
    margin-block: 0 var(--space-8x);

    @media (max-width: 1024px) {
        padding-inline: var(--space-4x);
    }

    .blog-post__header-image + & {
        margin-block: var(--space-8x);
    }

    * {
        margin: 0;
        width: 100%;
    }

    h2, h3, h4, h5, h6 {
        margin-block-start: var(--space-2x);
    }

    picture {
        align-self: center;
        margin-block-start: var(--space-4x);
        width: 100%;
        
        img {
            width: 100%;
        }
    }

    .svg-container {
        background: var(--accent);
    }

    svg {
        fill: var(--text-color);
    }

    blockquote {
        --blockquote-background-color: transprent;
        --blockquote-border-color: var(--text-color);
        --blockquote-text-color: var(--text-color);
        --blockquote-link-color: var(--link-color);

        background: var(--blockquote-background-color);
        border-inline-start: 5px solid var(--blockquote-border-color);
        border-radius: 2px;
        color: var(--blockquote-text-color);
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 16px;
        
        a {
          color: var(--blockquote-link-color)
        }

        &:has(cite a[href*="twitter"]) {
            --blockquote-background-color: #000000;
            --blockquote-border-color: rgb(29, 155, 240);
            --blockquote-text-color: #ffffff;
            --blockquote-link-color: rgb(29, 155, 240);
        }

        &:has(cite a[href*="mastodon.social"]) {
            --blockquote-background-color: #282c37;
            --blockquote-border-color: #6364ff;
            --blockquote-text-color: #ffffff;
            --blockquote-link-color: #6364ff;
        }
    }
}

.blog-post__tag-list {
    display: flex;
    gap: var(--space-1x);
    margin-block: 0 var(--space-8x);
    max-width: 80ch;
    width: 100%;
}

.blog-post__tag:not(.orphan) {
    color: var(--link-color);

    &:hover,
    &:focus-visible {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: 2px;
        text-underline-offset: .2ex;
    }
}

// 
// BEGIN TAGS STYLES
//

.tags-index {
    padding: 0 20px;
    margin: 0;
}

.orphan-tags-list {
    margin-block-start: var(--space-4x);
}

// TODO: Remove once :has() is fully supported in firefox
// Custom Style to display image if browser detects no support for :has()
.no-has-support {
    @supports selector(:has(*)) {
        display: none;
    }
}