.book-review {
    padding-block: var(--space-8x);
}

.book-review__header {
    display: grid;
    gap: 2rem;
    grid-template-columns: 250px 1fr;
    margin: 0 auto;
    max-width: 80ch;
}

.book-review__read-time {
    font-size: .875rem;
}

.book-review__header-image {

    img {
        width: 100%;

        @supports (object-fit: cover) {
            height: 400px;
            object-fit: cover;

            @media (min-width: 1200px) {
                height: 800px;                
            }
        }
    }
}

.book-review__post-content {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 0;
    max-width: 80ch;

    h2:first-child {
        margin-block-start: 0;
    }
    h3 {
        margin-block-start: 2rem;
    }

    ul {
        margin: .5rem 0 0;
    }

}