// Headroom library classes
header {
    font-size: 1.25rem;
    opacity: 1;
    padding: 8px 16px;
    position:  absolute;
    top: 0;
    transition: all var(--transition-slow);
    width: 100%;
    z-index: 10;
}

.header__inner {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}

.headroom--unpinned {
    opacity: 0;
    top: -75px;
}

.headroom--pinned {
    background: var(--background);
    border-bottom: 1px solid var(--hairline-color);
    position: fixed;
    top: 0;
}

.headroom--top {
    background: 0 0;
    border-bottom: none;
}

.home-link {
    display: block;
    padding: 4px 8px;
    transition: all var(--transition-default);

    &:hover {
        background: var(--text-color);
        color: var(--background);
    }
}

.home-link--disabled {
    cursor: default;
    pointer-events: none;
}

.main-nav {
    margin-left: auto;

    ul {
        display: flex;;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-left: 8px;
        
        @media (min-width: 600px) {
            margin-left: 16px;
        }
    }
}

.nav__link {
    display: block;
    padding: 4px;

    &:after {
        background: var(--text-color);
        content: "";
        height: 4px;
        display: block;
        transition: all var(--transition-slow);
        width: 0%
    }

    &:hover {

        &:after {
            width: 100%;
        }
    }
}

.nav__link--active {
    
    &:after {
        background: var(--text-color);
        content: "";
        height: 4px;
        display: block;
        transition: all var(--transition-slow);
        width: 100%
    }
}