header {
    font-size: 1.25rem;
    padding: 8px 16px;
    width: 100%;
}

.header__inner {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}

.home-link {
    display: block;
    padding: 4px 8px;
    transition: all var(--transition-default);

    &:hover,
    &:focus-visible {
        background: var(--text-color);
        color: var(--background);
    }
}

.home-link--disabled {
    cursor: default;
    pointer-events: none;
}

.main-nav {
    display: none;
    margin-left: auto;

    @media (min-width: 600px) {
        display: block;
    }

    ul {
        display: flex;
        gap: var(--space-2x);
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.nav__link {
    display: block;
    margin-block-end: -4px;
    padding: 4px;

    &:after {
        background: var(--text-color);
        content: "";
        height: 4px;
        display: block;
        transition: all var(--transition-slow);
        width: 0%
    }

    &:hover,
    &:focus-visible {

        &:after {
            width: 100%;
        }
    }
}

.nav__link--active {
    
    &:after {
        background: var(--text-color);
        content: "";
        height: 4px;
        display: block;
        transition: all var(--transition-slow);
        width: 100%
    }
}

// Mobile Menu Styles
.mobile-menu-trigger {
    align-items: center;
    background: var(--mobile-menu-background);
    display: flex;
    border: none;
    margin-inline-start: var(--space-2x);
    padding: var(--space-3x);
    transition: background var(--transition-default);

    &:hover,
    &:focus-visible {
        background: var(--mobile-menu-background--hover);
    }

    @media (min-width: 600px) {
        display: none;
    }
}

.mobile-menu-trigger__icon {
    fill: var(--mobile-menu-text-color);
    height: 24px;
    width: 24px;

    .mobile-menu-trigger:hover &,
    .mobile-menu-trigger:focus-visible & {
        fill: var(--mobile-menu-text-color--hover);
    }
}

.mobile-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;

    @media (min-width:600px) {
        display: none;
    }
}

.mobile-menu--open {
    grid-template-rows: 1fr;
}

.mobile-menu__inner {
    overflow: hidden;
}

.mobile-nav {
    ul {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: var(--space-1x);
        list-style: none;
        margin: 0;
        padding: var(--space-3x) var(--space-2x);
    }
}

.mobile-nav__link {
    display: block;
    padding: 4px;

    &:after {
        background: var(--text-color);
        content: "";
        height: 4px;
        display: block;
        transition: all var(--transition-slow);
        width: 0%
    }

    &:hover,
    &:focus-visible {

        &:after {
            width: 100%;
        }
    }
}

.mobile-nav__link--active {
    
    &:after {
        background: var(--text-color);
        content: "";
        height: 4px;
        display: block;
        transition: all var(--transition-slow);
        width: 100%
    }
}

// Theme Toggle Styles

.theme-menu-trigger {
    align-items: center;
    background: var(--mobile-menu-background);
    border: none;
    display: flex;
    margin-inline-start: auto;
    padding: var(--space-3x);
    transition: background var(--transition-default);

    &:hover,
    &:focus-visible {
        background: var(--mobile-menu-background--hover);
    }

    @media (min-width: 600px) {
        margin-inline-start: var(--space-1x);
        padding: var(--space-2x);
    }
}

.theme-menu-trigger__icon {
    fill: var(--mobile-menu-text-color);
    height: 24px;
    width: 24px;

    .theme-menu-trigger:hover &,
    .theme-menu-trigger:focus-visible & {
        fill: var(--mobile-menu-text-color--hover);
    }

    @media (min-width: 600px) {
        height: 16px;
        width: 16px;
    }
}

.theme-menu-trigger__icon--sun {
    display: block;
    
    @media (prefers-color-scheme: dark) {
        display: none;

        [data-theme='light'] & {
            display: block;
        }
    }

    [data-theme='dark'] & {
        display: none;
    }
}

.theme-menu-trigger__icon--moon {
    display: none;

    @media (prefers-color-scheme: dark) {
        display: block;

        [data-theme='light'] & {
            display: none;
        }
    }

    [data-theme='light'] & {
        display: none;
    }
}

.theme-menu {
    display: grid;
    grid-template-rows: 0fr;
    margin: 0 auto;
    max-width: 1400px;
    transition: all 0.5s ease-in-out;
}

.theme-menu--open {
    grid-template-rows: 1fr;
    padding: var(--space-1x) 0;

    @media (min-width: 600px) {
        padding: var(--space-4x) 0;
    }
}

.theme-menu__inner {
    align-items: center;
    display: flex;
    gap: var(--space-2x);
    justify-content: flex-end;
    overflow: hidden;
}

.theme-menu__button {
    align-items: center;
    background: var(--mobile-menu-background);
    border: none;
    color: var(--mobile-menu-text-color);
    display: flex;
    font-size: 1rem;
    padding: var(--space-2x);
    transition: background var(--transition-default);

    &:hover,
    &:focus-visible {
        background: var(--mobile-menu-background--hover);
        color: var(--mobile-menu-text-color--hover);
    }
}