:root {
    --canvas: #fffaf5;
    --tangerine: #ffba68;
    --banana: #f2ca27;
    --muted-banana: #4A3D0F;
    --dark-banana: #1A1914;
    --terminal: #41FF00;
    --muted-terminal: #13260D;
    --terminal-black: #282828;
    --umber: #AD5E00;
    --magenta: #c81593;
    --slate: #434345;
    --dark-blue: #14181a;
    --med-blue: #0F334A;
    --light-blue: #0692e6;
    --off-white: #f0f0f0;
    --white: #ffffff;
    --black: #000000;

    --font-size: 18px;
    --font-weight: normal;
    --font-family: 'Open Sans', sans-serif;

    --transition-default: .25s ease-in-out;
    --transition-slow: .25s ease-in-out;

    --space-base: 4px;
    --space-1x: calc(var(--space-base) * 1);
    --space-2x: calc(var(--space-base) * 2);
    --space-3x: calc(var(--space-base) * 3);
    --space-4x: calc(var(--space-base) * 4);
    --space-5x: calc(var(--space-base) * 5);
    --space-6x: calc(var(--space-base) * 6);
    --space-7x: calc(var(--space-base) * 7);
    --space-8x: calc(var(--space-base) * 8);

    --background: var(--canvas);
    --accent: var(--tangerine);
    --text-color: var(--slate);
    --link-color: var(--umber);
    --hairline-color: var(--slate);

    --intro-block-background: var(--slate);
    --intro-block-text-color: var(--white);

    --footer-background: var(--white);
    --footer-text-color: var(--slate);
    
    --social-link-background: transparent;
    --social-link-background--hover: var(--slate);
    --social-link-text-color: var(--slate);
    --social-link-text-color--hover: var(--white);

    --mobile-menu-background: transparent;
    --mobile-menu-background--hover: var(--slate);
    --mobile-menu-text-color: var(--slate);
    --mobile-menu-text-color--hover: var(--white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--dark-blue);
        --accent: var(--med-blue);
        --text-color: var(--off-white);
        --link-color: var(--light-blue);
        --hairline-color: var(--off-white);

        --intro-block-background: var(--off-white);
        --intro-block-text-color: var(--slate);

        --footer-background: var(--slate);
        --footer-text-color: var(--white);

        --social-link-background: transparent;
        --social-link-background--hover: var(--white);
        --social-link-text-color: var(--white);
        --social-link-text-color--hover: var(--slate);

        --mobile-menu-background: transparent;
        --mobile-menu-background--hover: var(--off-white);
        --mobile-menu-text-color: var(--off-white);
        --mobile-menu-text-color--hover: var(--slate);
    }
}