.work__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-8x);
    justify-content: center;
    padding: var(--space-8x);
    max-width: 1400px;
    width: 100%;
}

.work__heading {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.work__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

.work__view-link {
    display: block;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.work-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-8x);
    margin: 0;
    padding: 0;
    width: 100%;

    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.work-preview {
    display: flex;
}

.work-preview__link,
.work-preview__inner, {
    display: flex;
    flex-direction: column;
    gap: var(--space-4x);
    width: 100%;
}

.work-preview__thumbnail {

    picture,
    img {
        aspect-ratio: 3/2;
        object-fit: cover;
        object-position: top;
        width: 100%;
    }
}

.work-preview__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;

    .work-preview__link:hover &,
    .work-preview__link:focus & {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
    }
}