<nav class="about-nav">
    <ul role="navigation">
        <li>
            <a href="/about" class="nav__link {% if page.url contains "about" %}nav__link--active{% endif %}">About</a>
        </li>
        <li>
            <a href="/uses" class="nav__link {% if page.url contains "uses" %}nav__link--active{% endif %}">Uses</a>
        </li>
        <li>
            <a href="/now" class="nav__link {% if page.url contains "now" %}nav__link--active{% endif %}">Now</a>
        </li>
    </ul>
</nav>