<header>
    <div class="header__inner">
        <a href="/" aria-label="home" class="home-link {% if page.url == "/" %}home-link--disabled{% endif %}">Adam Sedwick</a>
        <nav class="main-nav">
            <ul role="navigation">
                <li>
                    <a href="/writing" class="nav__link {% if page.url contains "writing" %}nav__link--active{% endif %}">Writing</a>
                </li>
                <li>
                    <a href="/work" class="nav__link {% if page.url contains "work" %}nav__link--active{% endif %}">Work</a>
                </li>
                <li>
                    <a href="/about" class="nav__link {% if page.url contains "about" %}nav__link--active{% endif %}">About</a>
                </li>
                <li>
                    <a href="/bookshelf" class="nav__link {% if page.url contains "bookshelf" %}nav__link--active{% endif %}">Bookshelf</a>
                </li>
            </ul>
        </nav>
        <button class="theme-menu-trigger" aria-label="Open Theme Switcher">
            <svg class="theme-menu-trigger__icon theme-menu-trigger__icon--sun" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15ZM12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17Z"/>
                <path d="M12 3C12.5523 3 13 3.44772 13 4V5C13 5.55228 12.5523 6 12 6C11.4477 6 11 5.55228 11 5V4C11 3.44772 11.4477 3 12 3Z"/>
                <path d="M12 18C12.5523 18 13 18.4477 13 19V20C13 20.5523 12.5523 21 12 21C11.4477 21 11 20.5523 11 20V19C11 18.4477 11.4477 18 12 18Z"/>
                <path d="M18 12C18 11.4477 18.4477 11 19 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H19C18.4477 13 18 12.5523 18 12Z"/>
                <path d="M3 12C3 11.4477 3.44772 11 4 11H5C5.55228 11 6 11.4477 6 12C6 12.5523 5.55228 13 5 13H4C3.44772 13 3 12.5523 3 12Z"/>
                <path d="M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L17.7071 7.70711C17.3166 8.09763 16.6834 8.09763 16.2929 7.70711C15.9024 7.31658 15.9024 6.68342 16.2929 6.29289L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z"/>
                <path d="M5.29289 5.29289C4.90237 5.68342 4.90237 6.31658 5.29289 6.70711L6.29289 7.70711C6.68342 8.09763 7.31658 8.09763 7.70711 7.70711C8.09763 7.31658 8.09763 6.68342 7.70711 6.29289L6.70711 5.29289C6.31658 4.90237 5.68342 4.90237 5.29289 5.29289Z"/>
                <path d="M5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L6.29289 16.2929C6.68342 15.9024 7.31658 15.9024 7.70711 16.2929C8.09763 16.6834 8.09763 17.3166 7.70711 17.7071L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071Z"/>
                <path d="M18.7071 18.7071C19.0976 18.3166 19.0976 17.6834 18.7071 17.2929L17.7071 16.2929C17.3166 15.9024 16.6834 15.9024 16.2929 16.2929C15.9024 16.6834 15.9024 17.3166 16.2929 17.7071L17.2929 18.7071C17.6834 19.0976 18.3166 19.0976 18.7071 18.7071Z"/>
            </svg>
            <svg class="theme-menu-trigger__icon theme-menu-trigger__icon--moon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.8423 1.5C18.1656 1.5 18.4676 1.66685 18.6469 1.94463L19.6833 3.54969L21.8072 5.19444C22.0507 5.38301 22.194 5.67895 22.194 5.99324C22.194 6.30752 22.0507 6.60346 21.8072 6.79203L19.6833 8.43678L18.6469 10.0418C18.4676 10.3196 18.1656 10.4865 17.8423 10.4865C17.5189 10.4865 17.217 10.3196 17.0376 10.0418L16.0013 8.43678L13.8773 6.79203C13.6338 6.60346 13.4905 6.30752 13.4905 5.99324C13.4905 5.67895 13.6338 5.38301 13.8773 5.19444L16.0013 3.54969L17.0376 1.94463C17.217 1.66685 17.5189 1.5 17.8423 1.5ZM17.8423 4.29856L17.5187 4.79973C17.4579 4.89392 17.382 4.97674 17.2943 5.04466L16.0693 5.99324L17.2943 6.94181C17.382 7.00973 17.4579 7.09255 17.5187 7.18674L17.8423 7.68791L18.1659 7.18674C18.2267 7.09255 18.3026 7.00973 18.3903 6.94181L19.6152 5.99324L18.3903 5.04466C18.3026 4.97674 18.2267 4.89392 18.1659 4.79973L17.8423 4.29856Z"/>
                <path d="M8.01863 2.63941C8.01861 2.63959 8.01865 2.63923 8.01863 2.63941L8.01753 2.64947C8.01646 2.65935 8.01476 2.67564 8.01257 2.69804C8.00821 2.74286 8.00194 2.81207 7.99509 2.90328C7.98138 3.08581 7.9654 3.35575 7.95758 3.69398C7.94192 4.372 7.95931 5.31607 8.09086 6.37573C8.35709 8.52036 9.07382 11.0044 10.7896 12.776C12.5181 14.5606 15.1432 15.4871 17.4546 15.9513C18.5929 16.1799 19.6175 16.2891 20.3569 16.3409C20.7259 16.3668 21.0221 16.3782 21.2238 16.3832C21.3246 16.3857 21.4016 16.3866 21.4522 16.3869C21.4775 16.387 21.4962 16.387 21.5079 16.387L21.5201 16.3869L21.5217 16.3869C21.9361 16.3821 22.3079 16.6506 22.4453 17.0544C22.5827 17.4584 22.4554 17.9078 22.1289 18.1717C20.3595 19.6014 17.3735 21.3968 14.1113 22.1462C10.8317 22.8997 7.1319 22.6165 4.21008 19.6437C1.27149 16.6538 1.08245 12.8501 1.95961 9.55261C2.82899 6.28438 4.77503 3.34886 6.39989 1.78783C6.69724 1.50217 7.13578 1.43878 7.49768 1.62916C7.85927 1.81939 8.06733 2.22245 8.01875 2.63837C8.01875 2.63841 8.01876 2.63833 8.01875 2.63837L8.01863 2.63941ZM18.6389 18.1709C18.1568 18.1061 17.6337 18.0217 17.0853 17.9115C14.6503 17.4225 11.5618 16.3974 9.42201 14.188C7.26958 11.9656 6.46272 8.96807 6.17243 6.62961C6.11336 6.15377 6.07498 5.69965 6.05133 5.27772C5.14777 6.61422 4.29968 8.29578 3.82467 10.0815C3.06345 12.9431 3.29045 15.9043 5.56764 18.2213C7.86161 20.5553 10.7964 20.862 13.6912 20.1969C15.483 19.7853 17.2051 19.0092 18.6389 18.1709Z"/>
            </svg>
        </button>
        
        <button class="mobile-menu-trigger" aria-label="Open Menu">
            <svg class="mobile-menu-trigger__icon" viewBox="0 0 24 14" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1C0 0.447715 0.447715 0 1 0H23C23.5523 0 24 0.447715 24 1C24 1.55228 23.5523 2 23 2H1C0.447715 2 0 1.55228 0 1ZM0 7C0 6.44772 0.447715 6 1 6H23C23.5523 6 24 6.44772 24 7C24 7.55228 23.5523 8 23 8H1C0.447715 8 0 7.55228 0 7ZM1 12C0.447715 12 0 12.4477 0 13C0 13.5523 0.447715 14 1 14H23C23.5523 14 24 13.5523 24 13C24 12.4477 23.5523 12 23 12H1Z"/>
            </svg>
        </button>
        
    </div>

    <div class="theme-menu" inert>
        <div class="theme-menu__inner">
            <button class="theme-menu__button" data-theme-id="light">Light</button>
            <button class="theme-menu__button" data-theme-id="bauhaus">Bauhaus</button>
            <button class="theme-menu__button" data-theme-id="dark">Dark</button>
            <button class="theme-menu__button" data-theme-id="banana">Banana</button>
            <button class="theme-menu__button" data-theme-id="terminal">Terminal</button>
            <button class="theme-menu__button" data-theme-id="">System Default</button>
        </div>
    </div>
    
    <div class="mobile-menu">
        <div class="mobile-menu__inner">
            <nav class="mobile-nav">
                <ul role="navigation">
                    <li>
                        <a href="/writing" class="mobile-nav__link {% if page.url contains "writing" %}mobile-nav__link--active{% endif %}">Writing</a>
                    </li>
                    <li>
                        <a href="/work" class="mobile-nav__link {% if page.url contains "work" %}mobile-nav__link--active{% endif %}">Work</a>
                    </li>
                    <li>
                        <a href="/about" class="mobile-nav__link {% if page.url contains "about" %}mobile-nav__link--active{% endif %}">About</a>
                    </li>
                    <li>
                        <a href="/bookshelf" class="mobile-nav__link {% if page.url contains "bookshelf" %}mobile-nav__link--active{% endif %}">Bookshelf</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
