@mixin post-card-header {
    text-align: left;
    margin-bottom: $space-l;
    font-size: 1.6rem;
    line-height: 1.35;
    font-weight: 600;
}

@mixin homepage-grid {
    display: grid;
    grid-gap : $space-xl;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@mixin transition($prop) {
    transition: $prop .25s ease-in-out;
}

@mixin icon($fill: $color-black) {
    height: 100%;
    width: 100%;
    fill: $fill;

    @include transition(fill);
}